* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'BIZ UDPGothic', 'Hiragino Sans', 'Yu Gothic UI', sans-serif;
  line-height: 1.45;
  color: #10213d;
  background: #dbe6f4;
}

button,
input {
  font: inherit;
}
